.rankingWrap {
  padding-top: 0.3rem;

  .rankingContent {
    position: relative;
    z-index: 1;
    margin-left: 180px;

    .moreBookList {
      padding-bottom: 0.5rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}
