.rankWrap {
  padding: 0.76rem 0 0.6rem;
  width: 12rem;
  margin: 0 auto;

  .container {
    padding-top: 0.4rem;
    display: flex;
    column-gap: 0.6rem;
    flex-direction: row;
  }

  .rankContent {
    min-height: 7rem;
    position: relative;
    z-index: 9;
    width: 100%;

    .rankTitle {
      font-size: 0.2rem;
      font-weight: bold;
      color: #222222;
      line-height: 0.24rem;
      padding-bottom: 0.11rem;
      border-bottom: 0.01rem solid #F1F1F1;
      margin-bottom: 0.4rem;
    }
  }
}


