.navOccupy {
  width: 100%;
  height: 0.8rem;
}

.navWrap {
  width: 100%;
  height: 0.8rem;
  background-color: rgba(245,245,247,.8);
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;

  .navContent {
    width: 12rem;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .rightBox {
      display: flex;
      align-items: center;
      justify-content: center;

      .downloadBtn {
        margin-left: 0.3rem;
        width: 1.1rem;
        background: linear-gradient(90deg, #FF6600 0%, #FA3123 100%);
        border-radius: 0.17rem;
        height: 0.34rem;
        font-size: 0.15rem;
        font-weight: 500;
        color: #FFFFFF;
      }
    }
  }

  .qrCode {
    width: 1.2rem;
    height: 1.2rem;
  }
}


.slideLeft {
  position: fixed;
  top: 50%;
  right: 0.4rem;
  z-index: 99;

  .slideLogo {
    width: 0.8rem;
    height: 0.8rem;
    position: absolute;
    left: 50%;
    top: 20px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 1;
  }

  .qrCodeBox {
    position: relative;
    top: 0.7rem;
    z-index: 9;
    background: #fff;
    border-radius: 8px;
    -webkit-box-shadow: 0 4px 8px rgba(51,51,51,.05);
    box-shadow: 0 4px 8px rgba(51,51,51,.05);
    height: 78px;
    text-align: center;
    width: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 0.1rem;

    .qrCodeIcon {
      width: 0.3rem;
      height: 0.3rem;
    }
  }

  .slideQrCode {
    background-color: #FFFFFF;
    border-radius: 0.06rem;
    padding: 0.1rem;
    width: 1.2rem;
    height: 1.2rem;
  }
}
