.navWrap {
  width: 100%;
  height: 0.64rem;
  background-color: rgba(255, 255, 255, 0.55);
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;

  .navContent {
    width: 12rem;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .rightBox {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      column-gap: 0.2rem;

      .downloadBtn {
        padding: 0.2rem 0 0.2rem 0.2rem;
        font-size: 0.16rem;
        font-weight: bold;
        color: #222222;
        position: relative;

        .downloadPop {
          display: none;
          position: absolute;
          left: 50%;
          transform: translateX(-44%);
          top: 0.5rem;
          width: 1.90rem;
          height: 2.70rem;
          padding-top: 0.16rem;

          &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 50%;
            width: 0;
            border-right: 0.12rem solid transparent;
            border-bottom: 0.17rem solid #FFFFFF;
            border-left: 0.12rem solid transparent;
            transform: translateX(-50%);
          }

          .popContent {
            background-color: #FFFFFF;
            padding: 0.3rem;
            border-radius: 0.10rem;

            .popTitle {
              text-align: center;
              font-size: 0.16rem;
              font-weight: bold;
              color: #222222;
              line-height: 0.20rem;
            }

            p {
              text-align: center;
              font-size: 0.12rem;
              font-weight: 400;
              color: #666666;
              margin: 0.1rem 0 0.2rem;
            }

            .qrCode {
              width: 1.3rem !important;
              height: 1.3rem !important;
              background-color: #E6E6E6;
            }

          }
        }

        &:hover {
          .downloadPop {
            display: block;
          }
        }
      }
    }
  }
}


.slideLeftBox {
  position: fixed;
  top: 50%;
  right: 0.4rem;
  z-index: 99;
}

.slideLeft {

  .slideLogo {
    width: 0.64rem;
    height: 0.66rem;
    position: absolute;
    left: 50%;
    top: -0.42rem;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 1;
  }

  .qrCodeBox {
    width: 0.76rem;
    height: 0.88rem;
    background-color: #FFFFFF;
    box-shadow: 0 0.02rem 0.16rem 0 rgba(0, 0, 0, 0.09);
    border-radius: 0.06rem;
    position: relative;
    z-index: 9;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 0.08rem;

    .qrCodeIcon {
      width: 0.32rem;
      height: 0.32rem;
    }
  }

  .slideBox {
    display: none;
    position: absolute;
    left: -2.13rem;
    bottom: 0;
    padding: 0.2rem;
    background: #FFFFFF;
    box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.09);
    border-radius: 0.10rem;

    .slideTitle {
      text-align: center;
      font-size: 0.14rem;
      font-weight: 400;
      color: #666666;
      margin-bottom: 0.11rem;
    }

    .slideQrCode {
      background-color: #FFFFFF;
      width: 1.3rem !important;
      height: 1.3rem !important;
    }
  }

  &:hover {
    .slideBox {
      display: block;
    }
  }
}


.itemBox {
  margin-top: 0.2rem;
  background-color: #FFFFFF;
  box-shadow: 0 0.02rem 0.16rem 0 rgba(0,0,0,0.09);
  border-radius: 0.06rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 0.76rem;
  height: 0.76rem;
  row-gap: 0.06rem;
  font-size: 0.14rem;
  color: rgba(0,0,0,0.7);
  font-weight: 400;

  .itemIcon {
    width: 0.24rem;
    height: 0.24rem;
  }
}
