.navLeft {
  display: flex;
  justify-content: space-between;

  .logoTxtBox {
    display: flex;
    flex-direction: row;
    align-items: center;

    .logoTxt {
      width: 0.4rem;
      height: 0.4rem;
      margin-right: 0.1rem;
    }

    span {
      font-size: 0.28rem;
      font-weight: 600;
      color: #FFFFFF;
    }
  }

  .navBox {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;

    .navItem, .navItemActive {
      height: 100%;
      padding: 0.2rem 0.25rem;
      display: flex;
      align-items: center;
      font-weight: 400;
      font-size: 0.18rem;
      color: rgba(255, 255, 255, 0.6);

      .navItemLabel {
        padding: 0.04rem 0.1rem;
        word-break: keep-all;
        min-width: 1rem;
        text-align: center;
      }

      &:hover {
        color: $theme_color;
        font-weight: 500;
      }

      &:hover .navItemLabel {
        background-color: rgba(255, 255, 255, 0.08);
        border-radius: 0.03rem;
      }
    }

    .navItemActive {
      color: $theme_color;
      font-weight: 500;
    }
  }
}


.browseBox {
  position: relative;

  .browsePop {
    transition-delay: 0.2s;
    transition: height 0.3s;
    height: 0;
    width: 300px;
    position: absolute;
    top: 80px;
    z-index: 1;
    background-color: #FFFFFF;

    overflow: hidden;

    .tabOneItem {
      margin-bottom: 20px;

      .oneItemBox {
        display: flex;
        flex-wrap: wrap;

        .tabChild {
          padding: 6px 10px;
          color: #b2b2b2;
          display: block;
          border: 1px solid transparent;

          &:hover {
            color: #0bafff;
            border: 1px solid #0bafff;
          }
        }

      }
    }

  }

  &:hover {
    .browsePop {
      display: block;
      height: 400px;
    }
  }
}





