.navLeft {
  display: flex;
  align-items: center;
  flex-direction: row;

  .logoTxtBox {
    width: 1.6rem;
    height: 0.5rem;
  }

  .navBox {
    margin-left: 1rem;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;

    .navItem {
      height: 100%;
      padding: 0.2rem 0.25rem;
      display: flex;
      align-items: center;
      font-weight: 400;
      font-size: 0.18rem;
      position: relative;
      color: #222222;

      &:hover {
        color: $theme_color;
        font-weight: 500;
      }

    }

    .active {
      color: $theme_color;
      font-weight: 500;

      &:after {
        content: "";
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        background-color: $theme_color;
        border-radius: 0.03rem;
        height: 0.06rem;
        position: absolute;
        left: 50%;
        bottom: 0;
        width: 30%;
      }
    }
  }
}


.browseBox {
  position: relative;

  .browsePop {
    transition-delay: 0.2s;
    transition: height 0.3s;
    height: 0;
    width: 300px;
    position: absolute;
    top: 80px;
    z-index: 1;
    background-color: #FFFFFF;

    overflow: hidden;

    .tabOneItem {
      margin-bottom: 20px;

      .oneItemBox {
        display: flex;
        flex-wrap: wrap;

        .tabChild {
          padding: 6px 10px;
          color: #b2b2b2;
          display: block;
          border: 1px solid transparent;

          &:hover {
            color: #0bafff;
            border: 1px solid #0bafff;
          }
        }

      }
    }

  }

  &:hover {
    .browsePop {
      display: block;
      height: 400px;
    }
  }
}





