.navRight {
  width: 2.20rem;
  height: .34rem;
  border-radius: 0.17rem;
  border: 0.01rem solid #C5C5C5;
  background-color: #FFFFFF;
  position: relative;
  display: flex;
  align-items: center;
}

.navRightIcon {
  width: 0.2rem;
  height: 0.2rem;
  margin-left: 0.12rem;
}

.navRightInput {
  flex: 1;
  background-color: transparent;
  margin-left: 0.08rem;
  height: 100%;
  word-wrap: break-word;
  font-size: 0.14rem;
  font-weight: 400;
  color: #000000;
}

.navRightInput::-webkit-input-placeholder {
  color: #CBCBCB;
  font-weight: 400;
}
