.navRight {
  width: 2.7rem;
  height: .36rem;
  border-radius: 0.18rem;
  border: 0.01rem solid #EBE9E9;
  background-color: #FFFFFF;
  position: relative;
  display: flex;
  align-items: center;
}

.navRightIcon {
  width: 0.24rem;
  height: 0.24rem;
  margin-right: 0.12rem;
}

.navRightInput {
  flex: 1;
  background-color: transparent;
  margin-left: 0.2rem;
  height: 100%;
  word-wrap: break-word;
  font-size: 0.16rem;
  font-weight: 400;
  color: #333333;
  padding: 0;
}

.navRightInput::-webkit-input-placeholder {
  color: #BBBBBB;
  font-weight: 400;
}
