.swiperWrap {
  margin: 0 auto;
  padding: 0.96rem 0 0.6rem;
  height: 4.66rem;
  position: relative;
  background: linear-gradient(180deg, #FFE9DB 0%, #FFFFFF 100%);

  .container {
    width: 12rem;
    margin: 0 auto;
    position: relative;

    .markQrCodeBox {
      position: absolute;
      top: 1.1rem;
      right: 0.4rem;
      z-index: 10;
      text-align: center;
      font-size: 0.16rem;
      font-weight: 400;
      color: #FFC2B8;

      .markQrCode {
        width: 1.06rem !important;
        height: 1.06rem !important;
        padding: 0.08rem;
        border-radius: 0.1rem;
        background-color: #FFFFFF;
        margin-bottom: 0.1rem;
      }
    }
  }
}


.swiperBox {
  margin: 0 auto;
  height: 100%;
  width: 12rem;
  overflow: hidden;
  border-radius: 0.08rem;
  position: relative;
  z-index: 9;
  font-size: 0;

  .indicatorBox {
    position: absolute;
    bottom: 0;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    .indicatorItemBox {
      padding: 0.17rem 0.05rem;
      cursor: pointer;

      .indicatorItem {
        background-color: #FFFFFF;
        border-radius: 3px;
        width: 14px;
        height: 6px;
        opacity: 0.4;
      }

      .indicatorActive {
        opacity: 1;
      }
    }


  }

  .content {
    height: 100%;
    padding: 0;
    position: relative;

    .contentMark {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 9;
      height: 100%;
      width: 100%;
    }

    .contentImg {
      width: 100%;
      height: 3.1rem;
      border-radius: 0.1rem;
      overflow: hidden;
      position: relative;
    }
  }
}
