.rankingTabBox {
  width: 1.82rem;
  flex-shrink: 0;
}
.slideTabBox {
  border-right: 0.01rem solid #F1F1F1;
  overflow-y: scroll;
  text-align: center;
  position: sticky;
  top: 0.66rem;


  &::-webkit-scrollbar { display: none; }

  .tabOneItem {
    margin-bottom: 0.15rem;

    .oneItemTitle {
      height: 0.5rem;
      background-color: #F7F7F8;
      font-size: 0.14rem;
      font-weight: bold;
      color: #222222;
      line-height: 0.5rem;
      text-align: center;
    }

    .oneItemBox {
      background-color: #FFFFFF;

      .tabChild {
        height: 0.48rem;
        font-size: 0.14rem;
        font-weight: 400;
        color: #666666;
        line-height: 0.48rem;
        display: block;
        border-right: 0.02rem solid transparent;

        &:hover {
          font-weight: bold;
          color: #FF4614;
          background-color: #FFF5EF;
        }
      }

      .tabChildActive {
        border-color: #FF4614;
        background-color: #FFF5EF;
        color: #FF4614;
        font-weight: bold;
      }

    }
  }

}
