.unlockWrap {
  position: relative;
  top: -1.4rem;
  padding-top: 1rem;
  left: 0;
  width: 100%;
  z-index: 9;
  background: linear-gradient(180deg, #cbcbcb00 0%, #FFF 20%, #FFF 100%);
}

.logoBox {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #2F3031;
}

.appLock {
  width: 0.24rem;
  height: 0.24rem;
}

.text1, .text2, .text3 {
  margin-top: 0.06rem;
  font-size: 0.16rem;
  font-weight: 400;
  color: #333333;
  text-align: center;
}

.text2 {
  margin-top: 0.12rem;
}

.text3 {
  color: $theme_color;
  margin-bottom: 0.32rem;
}

.qrCodeWrap {
  margin: 0 auto;
  width: 4.08rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.qrCodeBox {
  width: 1.7rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.qrCode {
  width: 1.7rem !important;
  height: 1.7rem !important;
  margin-bottom: 0.16rem;
  border: 0.01rem solid #DBDBDB;
  padding: 0.08rem;
  border-radius: 0.05rem;
}

.qrCodeIntro {
  font-size: 0.12rem;
  font-weight: 400;
  color: #333333;
  line-height: 0.18rem;
  margin-bottom: 0.08rem;
  text-align: center;
}

.qrCodeLink {
  font-size: 0.2rem;
  font-weight: 400;
  color: $theme_color;
  text-decoration: underline;
  cursor: pointer;
}
