.unlockBox {
  position: relative;
  padding: 0.42rem 0;
  left: 0;
  width: 100%;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-top: 0.01rem dashed rgba(0,0,0,0.2);

  .unlockIntro {
    margin-top: 0.06rem;
    font-size: 0.26rem;
    font-weight: 400;
    color: #b2b2b2;
    text-align: center;
  }

  .downloadBtn {
    font-size: 0.16rem;
    font-weight: bold;
    color: #FFFFFF;
    width: 3.76rem;
    height: 0.48rem;
    background-color: #FF6600;
    border-radius: 0.24rem;
  }
}

.qrCodeBox {
  padding: 0.4rem 0.8rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .intro {
    font-size: 0.26rem;
    font-weight: 400;
    color: #b2b2b2;
    text-align: center;
  }

  .qrCode {
    margin: 0.24rem 0 0.16rem;
    width: 2.7rem !important;
    height: 2.7rem !important;
  }

  .qrCodeLink {
    font-size: 0.2rem;
    font-weight: 400;
    color: $theme_color;
    text-decoration: underline;
    cursor: pointer;
  }
}
