.paginationWrap {
  background-color: #FFFFFF;
  width: 100%;
  padding: 0.32rem 0;
  height: 1.28rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.linkItem, .pageItem {
  width: 2.6rem;
  height: 0.64rem;
  background-color: #FFEFDF;
  border-radius: 0.08rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.24rem;
  font-weight: 400;
  font-family: PingFangSC-Regular, PingFang SC;
  color: #F67C00;
}

.pageItem {
  opacity: 0.9;
}

.middleItem {
  font-size: 0.24rem;
  font-weight: 400;
  font-family: PingFangSC-Regular, PingFang SC;
  color: #9C9C9C;
}
