.titleWrap {
  padding-bottom: 0.32rem;
  height: 0.80rem;

  .title {
    font-size: 0.34rem;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    line-height: 0.48rem;
  }

  .moreBox {
    padding-left: 0.2rem;

    .moreIcon {
      width: 0.32rem;
      height: 0.32rem;
    }
  }
}


