.firstChapterBox {

  .updateCatalogTitle {
    padding: 0.3rem 0 0.15rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    span {
      font-size: 0.2rem;
      font-weight: bold;
      color: #222222;

      &:last-child {
        font-size: 0.12rem;
        font-weight: 400;
        color: #9C9C9C;
      }
    }
  }

  .updateCatalog {
    border-bottom: 0.01rem solid #E8E8E8;
    font-size: 0.16rem;
    font-weight: 400;
    line-height: 0.2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 0.4rem;

    a {
      padding: 0.15rem 0;
      display: block;
      color: #222222;
      border-bottom: 0.01rem dashed #E8E8E8;
    }
  }


  .firstChapter {
    position: relative;

    h4 {
      font-size: 0.36rem;
      font-weight: 500;
      color: #222222;
      line-height: 0.44rem;
      margin: 0.32rem 0 0.48rem;
    }
    p {
      text-indent: 0.36rem;
      font-size: 0.18rem;
      font-weight: 400;
      color: #222222;
      line-height: 2;
      white-space: pre-wrap;
      margin-bottom: 0.4rem;

      &:last-child {
        margin-bottom: 0;
      }
    }

  }

  .chapterLink {
    margin: 0 auto;
    margin-top: 0.6rem;
    width: 3.44rem;
    height: 0.48rem;
    border-radius: 0.24rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.16rem;
    font-weight: 400;
    background-color: #FF6600;
    color: #FFFFFF;
  }

}
