.verticalListBox {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 0.4rem;
}

.verticalItemBox {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-row-gap: 0.12rem;
  padding-bottom: 0.4rem;

  .itemBox {
    padding: 0.12rem;
    width: 100%;
    height: 1.04rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;

    .imageBox {
      width: 0.6rem;
      height: 0.8rem;
      overflow: hidden;
      border-radius: 0.04rem;

      .bookImage {
        width: 0.6rem;
        height: 0.8rem;
        overflow: hidden;
        transition: all 0.5s;
      }
    }

    .bookRow1, .bookIndex {
      width: 0.44rem;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 0.24rem;
      font-weight: 600;
      color: $theme_color;
      font-family: Ubuntu-Bold, Ubuntu;
    }

    .bookIndex {
      color: #333333;
    }

    .rightColumn {
      width: 2.5rem;

      .bookName {
        font-family: Ubuntu-Bold, Ubuntu;
        display: block;
        color: #333333;
        font-size: 0.16rem;
        font-weight: 600;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin-bottom: 0.08rem;
        line-height: 0.22rem;
      }

      .viewCountDisplay {
        font-size: 0.14rem;
        font-weight: 400;
        color: #7F8493;
        font-family: Ubuntu-Regular, Ubuntu;

        span {
          color: $theme_color;
          font-weight: 600;
          font-family: Ubuntu-Bold, Ubuntu;
        }
      }

      .tagBox {
        font-size: 0.12rem;
        font-weight: 400;
        color: #333333;
        grid-gap: 0.08rem;
        display: flex;

        .tagItem {
          border-radius: 0.03rem;
          padding: 0.04rem 0.1rem;
          background-color: grey;
        }
      }
    }

    &:hover {
      .bookImage {
        transform: scale(1.1);

      }
    }
  }
}







