.emptyBox {
  position: relative;
  padding-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .emptyIcon {
    width: 2rem;
    height: 2rem;
  }

  .emptyIntro {
    font-size: 0.14rem;
    font-weight: 400;
    text-align: center;
    margin: 0.08rem auto 0;
    line-height: 0.18rem;
    color: #B2B2B2;
  }
}

.mEmptyBox {
  position: relative;
  padding-top: 2.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .emptyIcon {
    width: 2.4rem;
    height: 2.4rem;
  }

  .emptyIntro {
    font-size: 0.28rem;
    font-weight: 400;
    color: #A0A9BA;
    text-align: center;
    margin: 0.4rem auto;
    line-height: 0.34rem;
  }
}
