.footerBox {
  height: 4.32rem;
  background-color: #1C1C1E;
  padding: 0 0.32rem 0.48rem;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 1;

  .agreementItem {
    border-bottom: 1px solid rgba(255,255,255,0.08);
    height: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.20rem;
    font-weight: 400;
    color: rgba(255,255,255,0.6);

    .agreementIcon {
      width: 0.24rem;
      height: 0.24rem;
    }
  }


  .footerContent {
    font-size: 0.2rem;
    font-weight: 400;
    color: rgba(255,255,255,0.4);
    display: flex;
    flex-direction: column;
    align-items: center;

    .logoBox {
      margin: 0.4rem auto 0;
      height: 0.6rem;
      width: 0.6rem;
    }

    .fmail {
      margin: 0.25rem 0 0.2rem;
      display: block;
      text-align: center;
      line-height: 0.28rem;
      color: rgba(255,255,255,0.4);
    }

    .fText {
      text-align: center;
      margin-top: 0.08rem;
      line-height: 0.28rem;
    }

  }
}
