.navMenu {
  background-color: #FFFFFF;
  padding: 0.24rem 0.32rem 0;
  height: 0.84rem;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0.95rem;
  z-index: 99;

  .navItem {
    padding: 0 0.26rem;
    display: flex;
    align-items: center;
    color: #666666;
    font-size: 0.3rem;
    font-weight: bold;
    line-height: 0.36rem;
  }

  .active {
    font-size: 0.34rem;
    line-height: 0.42rem;
    position: relative;
    color: #222222;

    &:after {
      content: "";
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      background-color: $theme_color;
      border-radius: 0.06rem;
      height: 0.08rem;
      position: absolute;
      left: 50%;
      bottom: -0.08rem;
      width: 30%;
      z-index: 9;
    }
  }
}


.swiperBox {
  overflow: hidden;

  .content {
    padding: 0 0.01rem;
  }
}
