.browseListBox {
  display: flex;
  flex-direction: column;
  row-gap: 0.4rem;

  .browseItem {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
    column-gap: 0.24rem;

    .bookRate {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;
      font-size: .26rem;
      font-weight: 600;
      color: #F67C00;
    }

    .itemImg {
      border-radius: 0.08rem;
      height: 1.72rem;
      width: 1.3rem;
      flex-shrink: 0;
      overflow: hidden;
    }

    .itemContent {
      height: 1.72rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .bookName {
        display: block;
        width: 4.03rem;
        font-size: .32rem;
        font-weight: 600;
        line-height: 0.4rem;
        color: #222222;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .bookIntro {
        font-size: .26rem;
        line-height: .32rem;
        margin-top: 0.1rem;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        word-wrap: break-word;
        font-weight: 400;
        color: #666666;
      }

      .bookAuthor {
        font-size: .26rem;
        font-weight: 400;
        color: #9C9C9C;
        line-height: 0.32rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}
