.browseWrap {
  padding: 0.76rem 0 1rem;
  width: 12rem;
  margin: 0 auto;

  .container {
    display: flex;
    flex-direction: row;
    grid-column-gap: 0.6rem;
    padding-top: 0.4rem;

    .browseContent {
      min-height: 7rem;
      position: relative;
      z-index: 9;
      width: 100%;

      .browseTitle {
        font-size: 0.14rem;
        font-weight: bold;
        color: #222222;
        height: 0.40rem;
        line-height: 0.40rem;
        padding: 0 0.2rem;
        background-color: #F7F7F8;
        border-radius: 0.02rem;
        margin-bottom: 0.23rem;
      }
    }
  }


}


