.browseWrap {
  padding: 0.66rem 0 1rem;
  width: 12rem;
  margin: 0 auto;

  .container {
    display: flex;
    flex-direction: row;
    grid-column-gap: 0.6rem;
    padding-top: 0.4rem;

    .browseContent {
      min-height: 7rem;
      position: relative;
      z-index: 9;
      width: 100%;

      .browseTitle {
        font-size: 0.16rem;
        font-weight: 400;
      }
    }
  }


}


