.capsuleTabsBox {
  //position: sticky;
  //top: 0.66rem;
  width: 2.1rem;
  max-height: calc(100vh - 384px);
  flex-shrink: 0;

  .oneVoBox {
    display: flex;
    justify-content: space-between;
    height: 0.4rem;
    background-color: #F7F7F8;

    .oneVoItem {
      border-top: 0.02rem solid transparent;
      flex: 1;
      font-size: 0.16rem;
      font-weight: 400;
      color: #222222;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .oneVoItemActive {
      border-color: #FF4614;
      font-weight: 600;
      color: #FF4614;
      background-color: #FFF5EF;
    }
  }


  .twoVoBox {
    padding: 0.2rem 0;
    border-bottom: 0.01rem solid #E8E8E8;

    h3 {
      font-size: 0.14rem;
      font-weight: bold;
      color: #222222;
      margin-bottom: 0.2rem;
    }

    .twoVoContent {
      display: flex;
      flex-wrap: wrap;

      .twoVoItemBox {
        position: relative;
        height: 0.3rem;
      }

      .twoVoItem {
        display: inline-block;
        height: 0.3rem;
        line-height: 0.3rem;
        padding: 0 0.12rem;
        font-size: 0.14rem;
        font-weight: 400;
        color: #222222;
        border-radius: 0.15rem;
      }

      .twoVoItemActive {
        font-weight: bold;
        color: #FF4614;
        background-color: #FFF5EF;
      }

      .lineBox {
        width: 100%;
        flex-shrink: 0;

        .twoBox {
          display: flex;
          flex-wrap: wrap;
        }

        .threeBox {
          position: relative;

          .threeBoxItem {
            margin: 0.12rem 0;
            background-color: #F7F7F8;
            border-radius: 0.04rem;
            padding: 0.1rem 0.12rem;
            display: flex;
            flex-wrap: wrap;
            column-gap: 0.24rem;
            row-gap: 0.1rem;

            .cateItem {
              font-size: 0.12rem;
              font-weight: 400;
              color: #666666;
            }

            .cateItemActive {
              font-weight: 600;
              color: #FF4614;
            }

          }

        }

      }
    }
  }


  .statusBox {
    padding: 0.2rem 0;
    border-bottom: 0.01rem solid #E8E8E8;

    h3 {
      font-size: 0.14rem;
      font-weight: bold;
      color: #222222;
      margin-bottom: 0.2rem;
    }
  }
}

