.homeWrap {
  padding: 1.92rem 0 3.56rem;
  position: relative;
  min-height: 100vh;
  background-color: #F3F3F3;

  .container {
    display: flex;
    flex-direction: column;
    row-gap: 0.2rem;
    padding: 0 0.24rem;

    .navBtnBox {
      display: flex;
      justify-content: space-between;
      font-size: 0.3rem;
      font-weight: 400;
      gap: 0.22rem;

      .navItem {
        flex: 1;
        width: 100%;
        height: 1.12rem;
        background-color: #FFFFFF;
        border-radius: 0.16rem;
        color: #222222;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        column-gap: 0.32rem;

        .navIcon {
          width: 0.64rem;
          height: 0.62rem;
        }
      }
    }
  }
}
