.homeWrap {
  padding: 0.88rem 0.24rem 4.32rem;
  position: relative;
  width: 100vw;
  overflow: hidden;

  .navBtnBox {
    display: flex;
    justify-content: space-between;
    font-size: 0.28rem;
    font-weight: 500;
    gap: 0.4rem;

    .navBtn {
      width: 100%;
      color: #fff;
      text-align: center;
      padding: 0.16rem 0.24rem;
      background-color: #059fff;
      border-radius: 0.36rem;
      box-shadow: 0 4px 8px rgba(71, 131, 185, 0.08), 0 4px 8px rgba(0, 0, 0, 0.02);
    }
  }
}
