.rankListBox {
  display: flex;
  flex-direction: column;
  row-gap: 0.24rem;

  .rankItem {
    border-radius: 0.08rem;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
    column-gap: 0.24rem;

    .rankIndex {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 0.32rem;
      height: 0.32rem;
      background-color: rgba(0, 0, 0, 0.7);
      border-radius: 0.08rem 0 0.08rem 0;
      font-size: 0.24rem;
      font-weight: 400;
      color: #FFFFFF;
      line-height: 0.32rem;
      text-align: center;
    }

    &:first-child .rankIndex {
      background-color: #FF472A;
    }

    &:nth-child(2) .rankIndex {
      background-color: #FF7700;
    }

    &:nth-child(3) .rankIndex {
      background-color: #FF9A00;
    }

    .itemImg {
      overflow: hidden;
      border-radius: 0.07rem;
      height: 1.18rem;
      width: 0.9rem;
      flex-shrink: 0;
    }

    .itemContent {
      flex: 1;
      height: 1.18rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .bookName {
        width: 4.3rem;
        display: block;
        color: #222222;
        font-size: .3rem;
        font-weight: 500;
        line-height: 0.36rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .bookAuthor {
        margin-top: 0.08rem;
        width: 4.3rem;
        display: block;
        font-size: .26rem;
        line-height: 0.32rem;
        font-weight: 400;
        color: #9C9C9C;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .bookType {
        font-size: .24rem;
        line-height: 0.3rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: #F67C00;
        font-weight: 400;
      }
    }
  }
}
