.keywordsWrap {
  padding: 0.96rem 0.32rem 1.12rem;
  min-height: 100vh;
  background-color: #FFFFFF;

  .keywordBox {
    display: flex;
    padding: 0.32rem 0 0.45rem;
    gap: 0.32rem;
    flex-wrap: wrap;

    .keywordItem {
      flex-shrink: 0;
      font-size: 0.32rem;
      padding: 0.1rem 0.24rem;
      color: #555555;
      display: inline-block;
      font-weight: 400;
      height: 0.60rem;
      background-color: #F3F3F3;
      border-radius: 0.3rem;
    }
  }

  .footerBox {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 9;
    height: 1.12rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    padding: 0 0.32rem;
    box-shadow: 0 0 0.06rem 0 #ededed;
  }
}
