.keywordsWrap {
  padding: 0.96rem 0.24rem 0.6rem;
  min-height: 100vh;
  background-color: #FFFFFF;

  .keywordBox {
    padding-bottom: 0.2rem;

    .keywordItem {
      font-size: 0.3rem;
      padding: 0.2rem 0.28rem;
      color: $theme_color;
      display: inline-block;
      font-weight: 400;
      line-height: 0.48rem;
    }
  }
}
