.paginationWrap {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 0.4rem;
}

.linkItem {
  width: 2.6rem;
  height: 0.48rem;
  background-color: #FF6600;
  border-radius: 0.24rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.16rem;
  font-weight: 400;
  color: #FFFFFF;
  cursor: pointer;

  &:hover {
    opacity: 0.9;
  }
}
