.headerOccupy {
  position: relative;
  height: 0.88rem;
  width: 100%;
}

.headerContent {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  height: 0.88rem;
  width: 100%;
  //background: linear-gradient(180deg, #000000 0%, rgba(0,0,0,0.6) 100%);
  backdrop-filter: blur(10px);
  padding: 0 0.32rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .navMenuIcon {
    width: 0.48rem;
    height: 0.48rem;
  }

  .logoBox {
    position: absolute;
    left: calc(50% - 0.9rem);
    z-index: 1;
    top: 0.24rem;
    width: 0.4rem;
    height: 0.4rem;
  }
}
