.browseWrap {
  padding-top: 0.96rem;
  background-color: #FFFFFF;
  min-height: 100vh;

  :global {
    .adm-dropdown-popup {
      top: 0.88rem !important;
    }

    .adm-dropdown-item-content {
      background: #1C1C1E !important;
    }
  }

  .browseContentMark {
    height: 0.2rem;
    background-color: #F3F3F3;
  }
  .browseContent {
    padding: 0.32rem 0.32rem 1.18rem;
    background-color: #FFFFFF;
    overflow-y: auto;
  }

}
