.tagWrap {
  background-color: #F5F6FA;
  padding-bottom: 0.5rem;
  min-height: calc(100vh - 2rem);
  width: 12rem;
  margin: 0 auto;

  .keywordBox {
    width: 13rem;
    margin: 0 auto;
    padding: 0.3rem 0;

    .title {
      font-size: 0.28rem;
      color: $theme_color;
      font-weight: bold;
      line-height: 0.32rem;
    }
    .sub {
      margin: 0.1rem 0 0.3rem;
      font-size: 0.14rem;
      font-weight: 400;
      color: #435366;
      line-height: 0.16rem;
      white-space: pre-wrap;
      opacity: 0.7;
    }

    .keywordConnect {

      .keywordConnectTitle {
        font-size: 0.16rem;
        font-weight: bold;
        color: #435366;
        line-height: 0.19rem;
      }

      .keywordConnectItem {
        display: inline-block;
        font-size: 0.16rem;
        padding: 0.08rem 0.24rem 0.08rem 0;
        color: $theme_color;
        text-decoration: underline !important;
      }
    }
  }
}
