.recommendBox {
  display: flex;
  flex-direction: column;
  row-gap: 0.4rem;
  padding: 0.4rem 0 1rem;

  .recommendItem {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    column-gap: 0.2rem;

    .imgBox {
      overflow: hidden;
      position: relative;
      width: 0.9rem;
      height: 1.2rem;
      border-radius: 0.04rem;
      flex-shrink: 0;

      .img {
        width: 100%;
        height: 100%;
        transition: all 0.5s;
      }
    }

    &:hover {
      .imgBox {
        .img {
          transform: scale(1.1);
        }
      }
    }

    .itemContent {
      flex: 1;
      position: relative;

      .bookName {
        display: block;
        color: #222222;
        font-size: .16rem;
        font-weight: bold;
        line-height: 0.2rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-bottom: 0.14rem;
      }

      .bookRate {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        font-size: .16rem;
        font-weight: bold;
        color: #F67C00;
      }

      .bookIntro {
        font-weight: 400;
        font-size: .14rem;
        line-height: .18rem;
        color: #666;
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-all;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        margin-bottom: 0.08rem;
      }

      .bookAuthor {
        display: block;
        font-size: .12rem;
        font-weight: 400;
        color: #9C9C9C;
        line-height: 0.16rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-bottom: 0.04rem;
      }
    }
  }
}
