.homeWrap {

  .bookColumn {
    padding-top: 0.3rem;
    width: 12rem;
    margin: 0 auto;
    &:first-child {
      padding-top: 0;
    }
    .listBox {
      padding: 0.36rem 0.3rem 0;
      position: relative;
      min-height: 3.92rem;

      .listBg, .listBg2 {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 12rem;
        height: 1.88rem;
        border-radius: 0.16rem 0.16rem 0 0;
      }

      .listBg2 {
        background: linear-gradient(180deg, #F7F8F8 0%, #FFFFFF 100%);
      }
    }
  }

  .rankColumn {
    height: 5.48rem;
    background-color: #F7F8F8;

    .rankContent {
      width: 12rem;
      margin: 0 auto;
      padding: 0.3rem 0;

      .titleText {
        font-size: 0.22rem;
        font-weight: bold;
        line-height: 0.3rem;
        color: #222222;
        margin-bottom: 0.3rem;
      }
    }
  }
}
