.downloadBox, .downloadFooter {
  position: fixed;
  bottom: 0.28rem;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 0.88rem;
  padding: 0 0.3rem;
  transition: all 0.2s;

  .downloadContent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 100%;
    column-gap: 0.24rem;
    background: linear-gradient(90deg, #FF6600 0%, #FA3123 100%);
    border-radius: 0.44rem;

    .logoIcon {
      width: 0.56rem;
      height: 0.56rem;
      border-radius: 0.16rem;
      border: 0.01rem solid #EEEEEE;
      overflow: hidden;
    }

    .intro {

      .text1 {
        font-size: 0.30rem;
        font-weight: bold;
        color: #FFFFFF;
        line-height: 0.36rem;
      }

      .text2 {
        font-size: 0.26rem;
        font-weight: bold;
        color: #FFFFFF;
        line-height: 0.32rem;
      }
    }
  }
}

.downloadFooter {
  bottom: 0;
  height: 1.28rem;
  padding: 0 0.32rem;
  background: linear-gradient(90deg, #FF6600 0%, #FA3123 100%);

  .downloadContent {
    background: transparent;
    border-radius: 0;

    .logoIcon {
      width: 0.8rem;
      height: 0.8rem;
    }

    .intro {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      flex: 1;

      p {
        font-size: 0.30rem;
        font-weight: bold;
        color: #FFFFFF;
      }
    }

    .btn {
      font-size: .28rem;
      font-weight: 500;
      color: #FC4714;
      box-shadow: inset 0 0.03rem 0.01rem 0 #FFFFFF;
      border-radius: 0.31rem;
      width: 1.84rem;
      height: 0.62rem;
      background: linear-gradient(180deg, #FFFBDE 0%, #FFECB0 100%);
      justify-content: center;
      margin-left: auto;
    }
  }
}
