.titleWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 0.28rem;
  height: 0.57rem;
}

.titleBox {
  display: flex;
  flex-direction: column;

  .titleText {
    font-size: 0.24rem;
    font-weight: 900;
    color: rgba(255, 255, 255, 0.9);
    line-height: 0.29rem;
  }
}

.moreBox {
  justify-content: flex-end;
  min-width: 1rem;
  height: 100%;
  font-size: 0.16rem;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 400 !important;
  display: flex;
  align-items: center;
  transition: color 0.3s;

  .moreIcon {
    width: 0.16rem;
    height: 0.16rem;
  }

  .moreActiveIcon {
    width: 0.16rem;
    height: 0.16rem;
    display: none;
  }

  &:hover {
    color: $theme_color;

    .moreIcon {
      display: none;
    }

    .moreActiveIcon {
      display: block;
    }
  }
}


