.headerBox {
  background-color: #fff;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;

  .headerContent {
    height: 0.96rem;
    width: 100%;
    padding: 0 0.32rem 0 0.24rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logoBox {
      width: 1.99rem;
      height: 0.68rem;
    }

    .downloadBtn {
      font-size: .28rem;
      color: #fff;
      font-weight: 500;
      margin-left: auto;
      padding: 0 0.4rem;
      height: 0.62rem;
      background: linear-gradient(90deg, #FF6600 0%, #FA3123 100%);
      border-radius: 0.31rem;
    }
  }

  .navContainer {
    padding: 0 0.32rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .navMenu {
      height: 0.96rem;
      display: flex;

      .navItem {
        position: relative;
        padding: 0 0.16rem;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        font-weight: 500;
        color: #666;
        font-size: 0.28rem;
      }

      .active {
        position: relative;
        background: rgba(255, 255, 255, 0.08);
        color: $theme_color;
        font-weight: 600;
        font-size: 0.34rem;

        &:after {
          content: "";
          left: 50%;
          transform: translateX(-50%);
          background-color: $theme_color;
          border-radius: 0.06rem;
          position: absolute;
          bottom: 0;
          height: 0.08rem;
          width: 0.24rem;
        }
      }
    }

    .searchBox {
      display: flex;

      .searchIcon {
        width: 0.48rem;
        height: 0.48rem;
      }
    }
  }
}
