.moreBox {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  border-bottom: 0.01rem solid darkgray;
  padding: 0 0.32rem 0 0.2rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 0.88rem;
  background-color: #EEEAE3;
  transition: top 0.3s;
}
.headerLeft {
  display: flex;
  align-items: center;
  font-size: 0.34rem;
  color: #2F3031;
}
.backIcon {
  width: 0.48rem;
  height: 0.48rem;
}

.headerLeft span{
  font-size: 0.34rem;
  font-weight: 400;
}

.headerRight {
  flex: 1;
  text-align: right;
  font-size: 0.28rem;
  font-weight: 400;
  opacity: 0.6;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-left: 0.4rem;
  color: #2F3031;
}
