.bookWrap {
  padding-top: 0.96rem;
  min-height: 100vh;
  background-color: #F3F3F3;

  .recommendBox {
    margin-top: 0.2rem;
    padding: 0.4rem 0.32rem 0.32rem;
    width: 100%;
    background-color: #FFFFFF;

    .columnHead {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 0.32rem;

      .columnTitle {
        flex: 1;
        font-size: .4rem;
        font-weight: 700;
        color: #222222;
      }

      .columnLink {
        align-items: center;
        border: 0.01rem solid #CECECE;
        border-radius: 0.22rem;
        display: flex;
        flex-direction: row;
        column-gap: 0.16rem;
        font-size: .24rem;
        padding: 0.08rem 0.21rem;
        font-weight: 400;
        color: #727272;

        .linkIcon {
          width: 0.24rem;
          height: 0.24rem;
        }
      }
    }
  }
}





