.moreBookWrap {
  //width: 13rem;
  margin: 0 auto;
}

.imageItemMoreWrap {
  display: grid;
  grid-template-columns: 1.7rem auto;
  align-items: center;
  width: 100%;
  height: 2rem;
  margin-bottom: 0.5rem;
}

.bookNumber {
  font-size: 0.4rem;
  font-style: italic;
  color: #333333;
  font-style: italic;
}

.bookImage {
  width: 1.5rem;
  height: 2rem;
  border-radius: 0.04rem;
  overflow: hidden;
}

.bookInfo {
  height: 100%;
  width: 100%;
}

.bookName {
  color: #333333;
  font-size: 0.2rem;
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.rankBox {
  display: flex;
  align-items: center;
  margin: 0.08rem 0;
}

.rankBox span {
  font-size: 0.14rem;
  font-weight: 400;
  color: #3A4A5A;
  margin-left: 0.08rem;
}

.bookLine2 {
  font-style: italic;
  font-size: 0.14rem;
  font-weight: 400;
  color: #545862;
  display: flex;
  align-items: center;
  flex-direction: row;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.moreIntro {
  margin-top: 0.26rem;
  color: #545862;
  font-size: 0.16rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  word-wrap: break-word;
  line-height: 0.22rem;
  overflow-wrap: anywhere;
}
