.readerWrap {
  min-width: 100vw;
  height: 100vh;
  overflow-y: auto;

  .readerBox {
    padding: 0.96rem 0.32rem 1.4rem;
    min-height: 100vh;
    width: 100%;

    .readerLoading {
      //background-color: rgba(47, 48, 49, 0.8);
      width: 100%;
      text-align: center;
      height: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 0.22rem;
      color: #9C9C9C;
    }
  }
}

