.featuredContainer {
  height: 6rem;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 0.16rem;
    height: 6.05rem;
    background: linear-gradient(90deg, #FFFFFF 0%, rgba(255,255,255,0) 100%);
  }

  &:after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    width: 0.16rem;
    height: 6.05rem;
    background: linear-gradient(270deg, #FFFFFF 0%, rgba(255,255,255,0) 100%);
  }
}

.featuredBox {
  display: flex;
  flex-direction: column;
  height: 6rem;
  flex-wrap: wrap;
  overflow-x: scroll;
  row-gap: 0.32rem;

  &::-webkit-scrollbar { display: none; }

  .featuredItem {
    border-radius: 0.08rem;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 0 0.24rem;
    width: 6.46rem;
    column-gap: 0.24rem;
    height: 1.72rem;

    .itemImg {
      border-radius: 0.08rem;
      height: 100%;
      overflow: hidden;
      width: 1.3rem;
      flex-shrink: 0;
    }

    .itemContent {
      width: 4.44rem;
      height: 100%;
      display: inline-flex;
      flex-direction: column;
      justify-content: space-between;

      .bookName {
        display: inline-block;
        width: 4.44rem;
        font-size: .32rem;
        font-weight: 600;
        line-height: 0.4rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: #222222;
      }

      .bookIntro {
        margin-top: 0.1rem;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        display: -webkit-box;
        font-size: .26rem;
        line-height: .32rem;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-all;
        font-weight: 400;
        color: #666666;
      }

      .bookAuthor {
        font-size: .26rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-weight: 400;
        color: #9C9C9C;
        line-height: 0.32rem;
      }

    }
  }
}
