.featuredBox {
  display: flex;
  flex-direction: column;
  height: 6rem;
  flex-wrap: wrap;
  overflow-x: scroll;
  padding: 0 0.24rem;
  row-gap: 0.32rem;

  &::-webkit-scrollbar { display: none; }

  .featuredItem {
    border-radius: 0.08rem;
    overflow: hidden;
    position: relative;
    //width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-right: 0.24rem;
    width: 6.48rem;

    .itemImg {
      border: 1px solid rgba(0,0,0,.08);
      border-radius: 0.08rem;
      height: 1.7rem;
      margin-right: 0.24rem;
      overflow: hidden;
      width: 1.28rem;
      flex-shrink: 0;
    }

    .itemContent {
      .bookName {
        font-size: .32rem;
        font-weight: 700;
        line-height: 1.2;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .bookIntro {
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        color: #6a6b6c;
        display: -webkit-box;
        font-size: .24rem;
        line-height: .32rem;
        margin-bottom: 0.2rem;
        margin-top: 0.12rem;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-all;
      }

      .contentFooter {
        display: flex;
        height: 0.32rem;

        .bookAuthor {
          font-size: .24rem;
          line-height: 1.2;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        .bookType {
          font-size: .24rem;
          line-height: 1.2;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          padding-left: 0.24rem;
          position: relative;

          &:before {
            content: "";
            position: absolute;
            left: 0.12rem;
            top: 0.02rem;
            background: #059fff;
            border-radius: 0.06rem;
            bottom: 0;
            height: 0.24rem;
            width: 0.02rem;
          }
        }
      }
    }
  }
}
