.pcSearchWrap {
  background-color: #FFFFFF;
  padding: 0.2rem 0 0.5rem;
  min-height: calc(100vh - 2rem);
  font-family: Ubuntu-Regular, Ubuntu;
}

.pcSearchBox {
  width: 13rem;
  margin: 0 auto;
}
