.catalogBox {
  padding: 0 0.32rem 0.32rem;
  background-color: #FFFFFF;


  .catalogItem {
    height: 0.96rem;
    border-bottom: 0.01rem solid #E9E9E9;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:last-child {
      border-bottom: 0.01rem solid transparent;
    }

    .itemTxt {
      font-size: 0.3rem;
      font-weight: 400;
      color: #222222;
    }

    .lockTxt {
      color: #9C9C9C;
    }

    .itemIcon {
      width: 0.36rem;
      height: 0.36rem;
    }
  }
}
