.catalogBox {
  position: absolute;
  left: -10rem;
  top: calc(-50vh + 1rem);
  z-index: 99;
  background-color: #fff;
  min-height: 100vh;
  width: 10rem;
  padding: 0.4rem 0.7rem;
  overflow-y: auto;

  .cancelIcon {
    position: absolute;
    top: 0.3rem;
    right: 0.3rem;
    z-index: 9;
    height: 0.32rem;
    width: 0.32rem;
    cursor: pointer;
  }

  h4 {
    font-size: 0.2rem;
    line-height: 0.24rem;
    font-weight: bold;
    color: #222222;
    margin-bottom: 0.15rem;
  }

  .linkBox {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 0.4rem;

    .linkItem {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0.15rem 0;
      transition: color 0.3s;
      font-size: 0.16rem;
      font-weight: 400;
      color: #222222;
      line-height: 0.2rem;
      border-bottom: 0.01rem dashed #E8E8E8;

      &:hover {
        color: $theme_color;
      }

      .itemIcon {
        width: 0.24rem;
        height: 0.24rem;
      }
    }
  }

}
