.settingBox {
  position: absolute;
  top: -1rem;
  left: -4.54rem;
  z-index: -1;
  background-color: #fff;
  border-radius: 0.06rem;
  box-shadow: 0 0.02rem 0.16rem 0 rgba(0,0,0,0.09);
  height: 2.72rem;
  padding: 0.4rem;
  width: 4.54rem;

  .cancelIcon {
    position: absolute;
    top: 0.2rem;
    right: 0.2rem;
    z-index: 1;
    width: 0.32rem;
    height: 0.32rem;
  }
}

.controlSize {
  margin-bottom: 0.4rem;

  .sizeBox {
    display: flex;
    align-items: center;
    flex-direction: row;
    color: #222222;
    font-size: 0.2rem;
    border: 1px solid #E8E8E8;
    border-radius: 0.04rem;
    background: #F5F5F5;
    height: 0.48rem;

    .size {
      width: 100%;
      height: 0.48rem;
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: all 0.3s;
      color: #222222;
      //color: #A5A5A5;

      &:hover {
        color: #FF4614;
      }
    }

    .sizeDis {
      cursor: not-allowed;
      color: #A5A5A5;

      &:hover {
        color: #A5A5A5;
      }
    }

    .size2 {
      width: 1.11rem;
      background-color: #FAFAFA;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.controlBg {

  .bgBox {
    display: flex;
    align-items: center;
    column-gap: 0.1rem;

    .bg {
      width: 0.86rem;
      height: 0.4rem;
      border-radius: 0.06rem;
      position: relative;
      cursor: pointer;
    }

    .bgChecked {
      width: 0.18rem;
      height: 0.18rem;
      position: absolute !important;
      right: -0.06rem;
      top: -0.06rem;
    }
  }
}

.sizeTitle {
  font-size: 0.18rem;
  font-weight: 400;
  color: #222222;
  margin-bottom: 0.1rem;

}








