.operateBox {
  left: 50%;
  position: fixed;
  z-index: 999;
  transform: translate3d(500px, -50%, 0px);
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 0.1rem;

  .operate {
    padding-left: 10px;
    position: relative;
    border-radius: 0 6px 6px 0;

    .itemBox {
      background: hsla(0,0%,100%,.5);
      border-radius: 6px;
      color: #666;
      cursor: pointer;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      width: 76px;
      height: 76px;
    }
  }

  .active {
    background-color: #FFFFFF;
  }
}
