.footerWrap {
  position: relative;
  background-color: #F3F3F3;
  height: 1.8rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .footerText {
    text-align: center;
    .fText {
      font-size: 0.16rem;
      font-weight: 400;
      color: #222222;
    }
  }

  .footerLink {
    padding: 0.2rem;
    font-size: 0.16rem;
    font-weight: 400;
    color: #222222;
    transition: all 0.3s;
    text-decoration: underline !important;

    &:hover {
      color: $theme_color;
      opacity: 0.9;
    }
  }
}
