.footerWrap {
  position: relative;
  background-color: #333333;
  height: 2.24rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .footerContent {
    width: 12rem;
    margin: 0 auto;
    text-align: center;

    .fText {
      font-size: 0.12rem;
      font-weight: 400;
      margin-bottom: 0.1rem;
      color: #C2C2C2;
    }
  }

  .footerLink {
    padding: 0.2rem;
    font-size: 0.12rem;
    font-weight: 400;
    transition: all 0.3s;
    text-decoration: underline !important;

    &:hover {
      color: $theme_color;
      opacity: 0.9;
    }
  }
}
