.swiperBox {
  padding-top: 0.24rem;
  margin-bottom: 0.72rem;
  overflow: initial;

  :global {

    .adm-page-indicator {
      --active-dot-color: #FF375F !important;
      --dot-color: rgba(255, 255, 255, 0.12) !important;
      --dot-border-radius: 50% !important;
      --active-dot-border-radius: 50% !important;
    }

    .adm-page-indicator-dot {
      width: 0.16rem;
      height: 0.06rem;
      border-radius: 0.03rem;
    }
  }
}

.content {
  height: 3.16rem;
  padding: 0 0.08rem;

  .contentImgBox {
    border-radius: 0.08rem;
    width: 100%;
    height: 2.94rem;
  }
}
