.title {
  font-size: 1.3em;
  font-weight: 500;
  color: #222222;
}

.content {
  margin-top: 1em;
  color: #222222;

  p {
    font-size: 1em;
    line-height: 2;
    white-space: pre-wrap;
    text-align: justify;
    text-indent: 2em;
    margin-bottom: 1em;
  }
}

.downloadBox {
  position: relative;
  padding: 0.8rem 0;

  .unlockMark {
    position: absolute;
    top: -1.4rem;
    left: 0;
    height: 1.4rem;
    width: 100%;
    background: linear-gradient(180deg, transparent 0%, #F3F3F3 100%);
  }

  .contentBtn {
    background: linear-gradient(90deg, #FF6600 0%, #FA3123 100%);
    border-radius: 0.42rem;
    height: 0.84rem;
    font-size: 0.30rem;
    font-weight: 400;
    color: #FFFFFF;
    width: 100%;
  }
}
