.contentBox {
  position: relative;

  .title {
    font-size: 1.3em;
    font-weight: 500;
    color: #222222;
  }

  .content {
    margin-top: 1em;
    color: #222222;

    p {
      font-size: 1em;
      line-height: 2;
      white-space: pre-wrap;
      text-align: justify;
      text-indent: 2em;
      margin-bottom: 1em;
    }
  }

  .downloadBox {
    position: relative;
    padding: 0.8rem 0 1.8rem;
  }

  .unlockBox {
    position: fixed;
    height: 4.2rem;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 9;
    display: flex;
    flex-direction: column;
    padding: 2.2rem 0.32rem 0;
  }

  .contentBtn {
    background: linear-gradient(90deg, #FF6600 0%, #FA3123 100%);
    border-radius: 0.42rem;
    height: 0.84rem;
    font-size: 0.30rem;
    font-weight: 400;
    color: #FFFFFF;
    width: 100%;
  }
}

.contentChargeBox {
  min-height: 100vh;
}


