.unlockBox {
  position: relative;
  z-index: 9;
}

.downloadBtn {
  margin-top: 0.4rem;
  background: linear-gradient(90deg, #FF6600 0%, #FA3123 100%);
  border-radius: 0.42rem;
  height: 0.8rem;
  font-size: 0.28rem;
  font-weight: 500;
  color: #FFFFFF;
  width: 100%;
}
