.rankColumnWrap {
  padding: 0.24rem 0.24rem 0.48rem;
  position: relative;

  .swiperBox {
    overflow: hidden;
  }

  .footerLink {
    position: absolute;
    width: 100%;
    bottom: 0.1rem;
    left: 0;
    text-align: center;
    z-index: 1;
    font-size: .24rem;
  }
}

