.bookWrap {
  width: 12rem;
  margin: 0 auto;
}


.detailBox {
  padding: 1.2rem 0 0.4rem;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  column-gap: 0.4rem;

  .detailBookCover {
    flex-shrink: 0;
    width: 2.72rem;
    height: 3.63rem;
    border-radius: 0.04rem;
    overflow: hidden;
  }

  .detailBoxRight {
    padding: 0.4rem;
    border-radius: 0.04rem;
    flex: 1;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.08);
    height: 3.63rem;

    .detailBoxRightTop {
      .bookName {
        display: block;
        width: 6rem;
        font-size: 0.24rem;
        font-weight: 500;
        color: #333333;
        line-height: 0.32rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin-bottom: 0.2rem;
      }

      .chapterCount {
        display: block;
        width: 6rem;
        font-size: 0.13rem;
        font-weight: 400;
        color: #333333;
        line-height: 0.18rem;
        margin-bottom: 0.2rem;
      }

      .intro {
        display: block;
        margin-bottom: 0.3rem;
        font-size: 0.14rem;
        font-weight: 400;
        color: #333333;
        line-height: 0.20rem;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        word-wrap: break-word;
      }

      .tagsContent {
        font-size: 0.12rem;
        font-weight: 400;
        grid-gap: 0.08rem;
        display: flex;

        .tagItem {
          border-radius: 0.03rem;
          padding: 0.04rem 0.1rem;
          color: #333333;
          background-color: rgba(255, 255, 255, 0.08);
        }
      }
    }

    .playBtn {
      font-size: 0.14rem;
      font-weight: 500;
      color: #FFFFFF;
      background: linear-gradient(270deg, #FF871F 0%, #FF0045 48%, #F40065 100%);
      border-radius: 0.02rem;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      width: 1.02rem;
      height: 0.32rem;

      .playIcon {
        margin-right: 0.04rem;
        width: 0.16rem;
        height: 0.16rem;
      }
    }
  }
}

.recommendBox {

  .titleText {
    font-size: 0.24rem;
    font-weight: 900;
    color: rgba(255,255,255,0.9);
    line-height: 0.29rem;
    margin-bottom: 0.28rem;
  }
}
