.bookWrap {
  padding: 0.66rem 0 1rem;

  .bookBox {
    height: 3.4rem;
    background: linear-gradient(180deg, #FFF1E9 0%, #FFFFFF 100%);
  }

  .container {
    width: 12rem;
    margin: 0 auto;

    .btnBox {
      margin-left: 2.28rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      column-gap: 0.2rem;

      .readBtn {
        height: 0.48rem;
        background-color: #FF6600;
        border-radius: 0.24rem;
        padding: 0.14rem 0.38rem;
        font-size: 0.16rem;
        font-weight: bold;
        color: #FFFFFF;
      }

      .phoneBtn {
        padding: 0.14rem 0.38rem;
        height: 0.48rem;
        background-color: #FFEFDF;
        border-radius: 0.24rem;
        font-size: 0.16rem;
        font-weight: bold;
        color: #FF4614;
        position: relative;

        .slideBox {
          display: none;
          position: absolute;
          right: 0;
          bottom: 0;
          transform: translateX(110%);
          z-index: 99;
          padding: 0.2rem;
          background: #FFFFFF;
          box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.09);
          border-radius: 0.10rem;

          .slideTitle {
            text-align: center;
            font-size: 0.14rem;
            font-weight: 400;
            color: #666666;
            margin-bottom: 0.11rem;
          }

          .slideQrCode {
            background-color: #FFFFFF;
            width: 1.3rem !important;
            height: 1.3rem !important;
          }
        }

        &:hover {
          .slideBox {
            display: block;
          }
        }
      }
    }

    .contentBox {
      display: flex;
      flex-direction: row;
      column-gap: 0.4rem;
      padding-top: 0.58rem;

      .recommendBox {
        width: 3.1rem;
        padding: 0.2rem;
        background-color: #F7F7F8;
        border-radius: 0.08rem;
        height: fit-content;
        position: sticky;
        top: 0.66rem;

        .titleBox {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 0.2rem;

          .title {
            font-size: 0.23rem;
            font-weight: bold;
            line-height: 0.29rem;
            color: #222222;
          }

          .columnLink {
            align-items: center;
            border: 0.01rem solid #CECECE;
            border-radius: 0.12rem;
            display: flex;
            flex-direction: row;
            column-gap: 0.1rem;
            font-size: .12rem;
            padding: 0.04rem 0.11rem;
            font-weight: 400;
            color: #727272;

            .linkIcon {
              width: 0.13rem;
              height: 0.13rem;
              transform: rotateZ(0deg);
            }

            .linkIconAni {
              animation: anirotate 1s infinite linear;
            }
          }
        }
      }
    }
  }
}

@keyframes anirotate {
  0% {
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(180deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
