.moreWrap {
  padding: 0.8rem 0.32rem 1.2rem;
  position: relative;

}

.noMore {
  margin-top: 0.2rem;
  width: 100%;
  text-align: center;
  color: lightgray;
  font-size: 0.32rem;
  font-weight: 400;
  padding-bottom: 1.6rem;
}
