.tagWrap {
  padding: 1.1rem 0.32rem 0.6rem;
  background-color: #FFFFFF;

  .keywordBox {

    .title {
      font-size: 0.36rem;
      color: #2F3031;
      font-weight: bold;
      font-style: italic;
      line-height: 0.48rem;
      margin-bottom: 0.16rem;
    }

    .sub {
      font-size: 0.26rem;
      line-height: 0.32rem;
      color: #333333;
      white-space: pre-wrap;
    }

    .keywordConnect {
      padding: 0.32rem 0.04rem 0.48rem;

      .keywordConnectTitle {
        font-size: 0.32rem;
        color: #2F3031;
        line-height: 0.4rem;
      }

      .keywordConnectItem {
        display: inline-block;
        font-size: 0.32rem;
        line-height: 0.4rem;
        padding: 0.16rem 0.14rem 0.08rem;
        color: $theme_color;
        text-decoration: underline !important;
      }
    }
  }
}
