.m404Wrap {
  padding: 2.98rem 0.8rem 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .emptyImg {
    width: 3.2rem;
    height: 2.4rem;
  }

  .mIntro {
    margin-top: 0.24rem;
    display: block;
    font-size: 0.28rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.4);
    line-height: 0.34rem;
    text-align: center;
    white-space: pre-wrap;
  }
}

.pc404Wrap {
  padding: 2rem 0;
  width: 100%;
  min-height: calc(100vh - 2.6rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .pcEmptyImg {
    width: 3.2rem;
    height: 2.4rem;
  }

  .pcIntro {
    margin-top: 0.08rem;
    font-size: 0.16rem;
    color: rgba(255, 255, 255, 0.4);
    font-weight: 400;
  }
}
