.recommendWrap {
  width: 12rem;
  margin: 0 auto;
  padding-top: .66rem;

  .recommendList {
    padding-bottom: 0.6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

}
