.columnBox, .featuredColumnBox {
  background-color: #fff;
  border-radius: 0.16rem;
  padding: 0.4rem 0 0.24rem;

  .columnHead {
    padding: 0 0.24rem;
    height: 0.46rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.32rem;

    .columnTitle {
      flex: 1;
      font-size: .4rem;
      font-weight: 600;
      color: #222222;
    }

    .columnLink {
      border: 0.01rem solid #CECECE;
      border-radius: 0.2rem;
      color: #727272;
      display: flex;
      align-items: center;
      font-size: .24rem;
      padding: 0.08rem 0.14rem 0.08rem 0.18rem;

      .linkIcon {
        margin-left: 0.02rem;
        width: 0.24rem;
        height: 0.24rem;
      }
    }
  }
}
