.pcBookWrap {
  background-color: #F4F6F8;
  padding: 1rem 0 0.5rem;
}

.readerWrap {
  padding: 0.6rem 0.78rem 0.48rem;
  min-height: 9rem;
  width: 8.56rem;
  margin: 0 auto;
  border-radius: 0.04rem;
  position: relative;
  box-shadow: 0 0 0.06rem 0 #ededed;
  color: #2F3031;
  background-color: #FFFFFF;
}

.bookCoverBox {
  position: relative;
  height: 2.51rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 0.6rem;
}

.bookCover {
  position: absolute !important;
  top: -1.3rem;
  width: 1.8rem;
  height: 2.4rem;
  border-radius: 0.04rem;
  overflow: hidden;
}

.bookName {
  margin: 1.27rem 0 0.16rem;
  font-size: 0.2rem;
  font-weight: bold;
  color: #333333;
}

.author {
  font-size: 0.14rem;
  font-weight: 400;
  color: #545862;
}

.title {
  font-size: 0.2rem;
  font-weight: 600;
  color: #333333;
}

.content {
  margin-top: 0.17rem;
  margin-bottom: 0.56rem;
  font-size: 0.18rem;
  font-weight: 400;
  color: #333333;
  line-height: 0.32rem;
  white-space: pre-wrap;
}


.readerWrap :global .adm-center-popup-wrap {
  left: 12.18rem;
  top: 4.65rem;
}
.readerWrap :global .adm-mask  {
  background-color: transparent !important;
}
.readerWrap :global .adm-modal-content {
  padding: 0;
}
