.pcReaderWrap {
  background-color: rgb(224, 224, 224);

  .readerBox {
    min-height: 100vh;
    padding: 0.4rem 0.7rem 1rem;
    margin: 0 auto;
    position: relative;
    color: #2F3031;
    background-color: hsla(0,0%,100%,.5);
    width: 10rem;

    .title {
      font-size: 0.28rem;
      font-weight: bold;
      color: #222222;
      text-align: center;
      margin-bottom: 0.1rem;
    }

    .authorBox {
      position: relative;
      padding: 0.2rem 0;
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 0.4rem;
      border-bottom: 0.01rem dashed #D0D0D0;
      margin-bottom: 0.4rem;
      color: rgba(0,0,0,0.3);
      font-size: 0.12rem;
      white-space: nowrap;

      .bookName {
        color: #000000;
      }

      .author {
        color: #000000;
      }

      .updateTime {
        color: #000000;
      }
    }

    .content {
      margin-bottom: 0.6rem;
      font-weight: 400;
      color: #000000;
      line-height: 0.32rem;
      white-space: pre-wrap;

      p {
        font-size: 1em;
        line-height: 2;
        white-space: pre-wrap;
        text-align: justify;
        text-indent: 2em;
        margin-bottom: 0.8em;
      }
    }
  }
}

.readerWrap :global .adm-center-popup-wrap {
  left: 12.18rem;
  top: 4.65rem;
}
.readerWrap :global .adm-mask  {
  background-color: transparent !important;
}
.readerWrap :global .adm-modal-content {
  padding: 0;
}
